<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SWO Demo
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css")
        link(rel="stylesheet", href="app/app.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap")
    body
        header
            .bradius
            .container: .columns.is-mobile
                .column.is-6
                    img(src="app/img/swo.png").lo
                .column.is-6
                    .login
        section.section
            .game
                .game-inner
                    iframe(src="https://academ1a.com/modules/a1-animalsounds/" style="width: 100%; height: 800px")
        footer.section

